:root {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #f2f3f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 主题文字颜色 */
  --theme-text: #000;
  /* 主题文字激活态颜色 */
  --theme-text-active: #226bf3;
  /** 主题文字悬浮颜色 */
  --theme-text-hover: #000;
  /* 主题文字背景激活态 */
  --theme-text-bg-active: rgba(35, 87, 223, 0.05);
  /* 主题文字背景悬浮 */
  --theme-text-bg-hover: #e6e6e6;
 
   /* 主题背景 */
   --theme-bg: #fff;
   --theme-text-color: #000
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Firefox 滚动条 */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
